
<% content_for(:head) do %>
  <meta name="description" content="<%= strip_tags(article.meta_description).squish %>">
  <meta name="keywords" content="<%= strip_tags(article.meta_keywords).squish %>">
  
  <script type="application/ld+json">
    <%= raw({
      "@context": "https://schema.org",
      "@type": "Article",
      "headline": @article.title,
      "author": {
        "@type": "Person",
        "name": @article&.author&.name
      },
      "publisher": {
        "@type": "Organization",
        "name": "", # TODO: Add your site name here
      },
      "datePublished": @article.published_at&.iso8601,
      "dateModified": @article.updated_at&.iso8601,
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": article_url(@article)
      },
      "articleSection": @article&.category&.name,
      "keywords": @article.tags.map(&:name)
    }.to_json) %>
  </script>
<% end %>

<% content_for(:meta_title) do %>
  <%= article.meta_title%>
<% end %>

<article id="<%= dom_id article %>">
  <div class="bg-card p-6">
    <header>
      <h1 class="text-primary fw-bold"><%= article.title %></h1>
    </header>
    <div class="d-lg-flex align-items-center gap-4">
      <% if article.published? %>
        <div class="d-flex align-items-center mt-4 gap-2">
          <i class="bi bi-calendar text-muted-foreground"></i>
          <span class="text-muted-foreground"><%= time_format(article.published_at) %></span>
        </div>
      <% else %>
        <div class="d-flex align-items-center mt-4 gap-2">
            <i class="bi bi-calendar text-muted-foreground"></i>
            <span class="fw-bold text-muted-foreground">Will Published at: </span>
            <span class="text-muted-foreground"><%= time_format(article.published_at) %></span>
        </div>
      <% end %>

      <% if article.category.present? %>
        <div class="d-flex align-items-center mt-4 gap-2">
          <i class="bi bi-folder2 text-muted-foreground"></i>
          <%= render 'shared/article_category', name: article.category.name %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="p-6 bg-card my-4">
    <%== marksmithed article.content_html %>
  </div>

  <div class="d-flex align-items-center gap-2 p-4 bg-card">
    <span class="fw-bold text-muted-foreground">Tags:</span> 
    <% article.tags.each do |tag| %>
      <div class="badge text-xs border me-1 text-brown bg-hover-pink">
        <i class="bi bi-tag"></i>
        <%= tag.name %>
      </div>
    <%end %>
  </div>
</article>
