<article id="<%= dom_id project %>" class="bg-card pixel-border border mb-2">
  <div class="p-6">
    <div class="d-flex align-items-center justify-content-between">
      <h2 class="text-primary text-decoration-none"><%= project.title %></h2>
      <% if project.url.present? %>
        <%= link_to project.url, class:'' do %>
          <i class="bi bi-box-arrow-up-right text-hover-pink fs-3 fw-bold"></i>
        <% end %>
      <% end %>
    </div>

    <p class="mb-0">
      <%= project.description %>
    </p>
  </div>

  <div class="p-6 pt-0">
      <% project.technologies.each do |tech| %>
        <div class="badge bg-secondary text-xs me-1">
          <%= tech.title%>
        </div>
      <% end %>
  </div>

  <% if current_user.present? %>
    <div class="p-6 pt-0">
      <%= link_to "Edit this project", edit_project_path(project) %>
      <%= button_to "Destroy this project", project, method: :delete, data: { turbo_confirm: "Are you sure?" }  %>
    </div>
  <% end %>
  
</article>
