<div id="<%= dom_id certification %>">
  <p>
    <strong>Title:</strong>
    <%= certification.title %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= certification.teacher %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= image_tag certification.image_url %>
  </p>

  <p>
    <strong>Confirmed:</strong>
    <%= certification.confirmed %>
  </p>

</div>
