<%= form_with(model: web_setting) do |form| %>
  <% if web_setting.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(web_setting.errors.count, "error") %> prohibited this web_setting from being saved:</h2>

      <ul>
        <% web_setting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :site_name, style: "display: block" %>
    <%= form.text_field :site_name, class: 'form-control' %>
  </div>


  <div class="field">
    <%= form.label :site_description, style: "display: block" %>
    <%= form.text_area :site_description, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :site_year, style: "display: block" %>
    <%= form.text_field :site_year, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :main_domain_name, style: "display: block" %>
    <%= form.text_field :main_domain_name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :main_domain_link, style: "display: block" %>
    <%= form.text_field :main_domain_link, class: 'form-control' %>
  </div>

  <div>
    <%= form.submit "Submit", class: 'btn btn-success' %>
  </div>
<% end %>
